<div id="dialog-modal" title="Basic modal dialog" style="display: none">
    <p>
    </p>
</div>
<script type="text/javascript" src="/Scripts/external/jquery.bgiframe-2.1.2.js"></script>
<script type="text/javascript" src="/Scripts/ui/jquery.ui.core.js"></script>
<script type="text/javascript" src="/Scripts/ui/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/Scripts/ui/jquery.ui.mouse.js"></script>
<script type="text/javascript" src="/Scripts/ui/jquery.ui.draggable.js"></script>
<script type="text/javascript" src="/Scripts/ui/jquery.ui.position.js"></script>
<script type="text/javascript" src="/Scripts/ui/jquery.ui.resizable.js"></script>
<script type="text/javascript" src="/Scripts/ui/jquery.ui.dialog.js"></script>
<script type="text/javascript">
    $(function () {
        $("#dialog:ui-dialog").dialog("destroy");
    });
    function wAlert(msg) {
        $("#dialog-modal>p").html(msg);
        $("#dialog-modal").dialog({ height: 140, width: 300, modal: true });
    }
</script>
