@model IEnumerable<Wysnan.EIMOnline.Common.Poco.SecurityUserRole>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table>
        <tr>
            <th>
                SystemStatus
            </th>
            <th>
                SecurityUserID
            </th>
            <th>
                SecurityRoleID
            </th>
            <th></th>
        </tr>
    
    
    </table>
</body>
</html>
