添加页面11111111111
<div style="width: 200px">
    <div style="text-align: right">
        <span class="spanQ">+</span>
    </div>
    <div>
        <input type="text" style="width: 100%" readonly="readonly" /></div>
</div>
<div id="dialog-modal" title="Basic modal dialog">
    <div id="divSerach">
    </div>
</div>
<style>
    .spanQ:hover
    {
        border: 1px solid Red;
    }
    .ui-dialog-titlebar
    {
        height: 18px;
    }
    #dialog-modal
    {
        font-size: 13px;
        font-style: normal;
        font-weight: normal;
        padding: 0px;
    }
</style>
<script language="javascript">
    $(function () {
        $("#dialog-modal").dialog({
            autoOpen: false,
            height: 500,
            width: 800,
            modal: true,
            resizable: false
        });
    });
    $(".spanQ").click(function () {
        $("#divSerach").load("http://localhost:8080/Administration/SecurityUser", function () { $("#dialog-modal").dialog("open"); });
    });
</script>
