@using Wysnan.EIMOnline.MVC.Framework.Extensions;
@using Wysnan.EIMOnline.Common.Framework.Enum;
@using Wysnan.EIMOnline.Common.Poco;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<SecurityUser>
<link href="/Content/JqGrid/ui-lightness/jquery-ui-1.8.17.custom.css" rel="stylesheet"
    type="text/css" />
<link href="/Content/JqGrid/ui.jqgrid.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/Scripts/jquery-1.7.1.min.js"></script>
<script src="/Scripts/jquery-ui-1.8.17.custom.min.js" type="text/javascript"></script>
<script src="/Scripts/JqGrid/i18n/grid.locale-cn.js" type="text/javascript"></script>
<script src="/Scripts/JqGrid/jquery.jqGrid.src.js" type="text/javascript"></script>
<h2>
    Index</h2>
@*<table id="list">
</table>
<div id="pager">
</div>*@
@Html.Grid(GridEnum.SecurityUser)