<?xml version="1.0" encoding="utf-8" ?>
<message>
  <item code="1" value="实体对象为空" />
  <item code="2" value="不能找到对象：{0} , ID：{1}" />
  <item code="3" value="主键ID值小于0：{0} , ID：{1}" />
  <item code="4" value="Transaction拦截:不能在方法（{0}）上应用多个TransactionAttribute" />
  <item code="5" value="该对象[Type:{0} ID:{1}]已经逻辑删除，不能操作该对象。" />
  <item code="6" value="未能找到对应该{0}路径的模块信息。" />
  <item code="7" value="用户名或密码错误。" />
  <item code="8" value="无法批量删除{0}对象，参数为null" />
  <item code="9" value="无法批量删除{0}对象，根据参数未找到任何对象" />
</message>
