<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <spring>
    <context>
      <resource uri="file://~/Configuration/MVCIoC.xml" />
      <resource uri="file://~/Configuration/EFIoC.xml" />
      <resource uri="file://~/Configuration/BusinessIoC.xml" />
      <resource uri="file://~/Configuration/InjectionIoC.xml" />
    </context>
    <objects xmlns="http://www.springframework.net" />
  </spring>

  <connectionStrings>
    <add name="Context" connectionString="Data Source=localhost;Initial Catalog=ERM_DB;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="DbCacheTest" connectionString="Data Source=localhost;database=EimOnlineDB;Integrated Security=SSPI;user id=wangyonggui;pwd=sa" />
    <add name="EimOnlineDBConnectionString" connectionString="Data Source=WANGYONGGUI-PC;Initial Catalog=EimOnlineDB;Persist Security Info=True;User ID=wangyonggui;Password=sa" providerName="System.Data.SqlClient" />
  </connectionStrings>
  

  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>

  <system.web>
    <caching>
      <sqlCacheDependency pollTime="5000" enabled="true">
        <databases>
          <!--数据库名称, 数据库链接, 轮询时间 ms-->
          <add name="T_StudentCahce" connectionStringName="DbCacheTest" pollTime="5000" />
          <add name="T_Student2Cahce" connectionStringName="DbCacheTest" pollTime="5000" />
        </databases>
      </sqlCacheDependency>
    </caching>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>

    <authentication mode="Forms">
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
        <handlers>
            <add name="MvcHttpHandler" path="*.mvc" verb="*" type="System.Web.Mvc.MvcHttpHandler" resourceType="Unspecified" preCondition="integratedMode" />
        </handlers>
        <defaultDocument enabled="true">
            <files>
                <add value="index" />
            </files>
        </defaultDocument>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
