@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<li id="li_index">
    <div>
        <video width="100%" height="90%" controls="controls" autoplay="true">
  <source src="http://localhost:801/Content/Video/Demo.ogv" />
Your browser does not support the video tag.
</video>
    </div>
</li>
